.videosWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  img {
    width: 100%;
  }
  strong {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 1.4;
  }
  p {
    margin-top: 5px;
    color: #a3a3a3;
    font-size: 1.3rem;
  }
}
